    <!-- Page Header -->
    <header class="masthead">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                    <div class="site-heading">
                        <h1>Tech, Digital, Startups</h1>
                        <span class="subheading">Just another weblog</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
